@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19; /* Gray 900 */
    --color-primary: #6366F1;
    --color-gray: #9397AD; /* Gray 600 */
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    /* background-color: var(--color-dark); */
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--color-dark);
}

body {
    font-family: "Manrope", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.hero {
    height: 876px;
    /* background: rgb(99,102,241); */
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    /* display: flex;
    justify-content: center;
     */
    overflow: hidden;
    margin: auto;
    /* .iphone-1 {
        height: 936px;
    } */

    .hero-wrapper {
        display: flex;
        justify-content: space-between;
        width: 1296px;
        margin: 188px auto;
        background-color: transparent;
    }

    .hero-content {
        width: 526px;
        margin-top: 40px;
        background-color: transparent;
        h1 {
            margin: 0;
            font-size: 56px;
            color: var(--color-white);
            font-weight: 800;
            line-height: 130%;
        }

        p {
            font-size: 18px;
            line-height: 160%;
            color: var(--color-white);
            opacity: 0.7;
            margin-top: 1.4rem;
            font-weight: 200;
            letter-spacing: 0.3px;
        }
    }

    .app-buttons {
        margin-top: 48px;
        img {
            margin-right: 22px;
        }
    }

    .hero-iphones {
        width: 746px;
        height: 936px;
        /* border: 1px dashed white; */
        background-color: transparent;
        position: relative;
        img:nth-child(2) {
            position: absolute;
            right: 0;
        }
        img:nth-child(1) {
            position: absolute;
            bottom: -.1rem;
            left: 7rem;
        }
    }
}

.app-features {
    height: 800px;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

